parameters:

    paths:
        - src/

    level: 8

    ignoreErrors:
        -
            message: '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::configurationIsCached\(\)#'
            path: src/Commands/AboutLog.php
